

body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
}

a {
color:white;

}

a:visited{
    color:white
}

#content {

background-color:black;
color:white;

}

#logo {
    margin-top:200px;
    margin-bottom:-200px;
    border:0;
}

#message {
    margin-top:205px;
    margin-bottom:-190px;
    color:white;
    
}

#about_us{

    margin-top:0px;
    float:left;
}

#credits {
 }

ul.NoBullet {
    list-style-type:none;
}

img {
    border: 0;
}

#link{
    font-size:24px;
}