

<div id = "credits">
<ul class="NoBullet">
<li><a href="http://www.silhouettesolutions.net/site/contact">Chris Sund</a></li>
<li><a href="http://github.com/cavneb">Eric Berry</a>
<li><a href="http://www.shadowbox-js.com/">Michael L Jackson (shadow box)</a></li>   
</ul>
</div>